@import '../../utils/styles.util.scss';
.post-container {
    width: 100%;
    height: 100%;
    background-color: $greyLighter;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .no-channel-selected {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        img {
            height: 50%;
            width: 50%;
        }
        .no-channel-message {
            height: 50%;
            width: 100%;
        }
    }
}