@import '../../utils/styles.util.scss';

.channel-nav {
  height: 100%;
  width: 15vw;
  background-color: $greyLight;
}
.channel-nav-hashtag {
  height: 20px;
  width: auto;
  margin: 5px;
}
.channel-button {
  // width: 15vw;
}
.channel-name {
  color: white;
}
.categories {
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  // margin-left: 1vw;
}
.category-name {
  color: white;
  font-weight: 800;
}