$greyDark: #202225;
$greyLight: #2e3136;
$greyLighter:#36393f;
$greyLightest:#40444b;
$greyText: #b3b3b3;
$primaryColor: #e28489;
$secondaryColor: #a8d8e4;
$tertiaryColor: #a8d1a9;
$header: 'Roboto', sans-serif;
$exploreHeader: 'Montserrat', sans-serif;
$subheader: 'Open Sans', sans-serif;
$paragraph: 'Open Sans', sans-serif;